<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <!-- funkcijos pavadinimas - kintamasis -->
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
